---
---

@charset "utf-8";

// Example Defaults
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #269f94;
$theme-dark: #222;


// START - Override Bootstrap affix behaviour. (nav)
.navbar-default {
    background-color: white !important;
    border-color: rgba(34, 34, 34, 0.5) !important;
}

.navbar-default .navbar-header .navbar-brand {
    color: $theme-primary !important;
    font-size: 14px !important;
}

.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
    color: #222 !important;
}
// END - affix override.

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('../img/header.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
}

// aside
.re-working-with {
	display:block;
	margin:auto;
}

.bg-yellow {
	background-color: #FFFF20;
}

.bg-facebook {
	background-color: #3B5998;
}

.facebook-bar {
	cursor: pointer;

	&:hover {
		.bg-facebook {
			background-color: #2f4779;
		}
	}
}

.btn.btn-primary.vote-button-header {
	width: 200px;
	background-color: yellow;
	color: black;

	&:hover {
		background-color: white;
	}
}

// header
header .header-content .header-content-inner p {
	color: #FFF !important;
	font-weight: 400 !important;
}

#videos {
	.video-description {
		margin-top:33%;
	}

	@media screen and (max-width: 767px) {
   		.video-description {
   			margin-top:0%;
   			padding:15px;
   		}
	}
}

// manifesto
#manifesto {
	padding-bottom: 100px;

	p {
		color: #a5a5a5;
	}
}

// recognition
#recognition {
	p {
		font-weight:200;
		color:white;
		display:inline-block
	}

	p.re-stand-out {
		color: $theme-primary;
		padding: 0px 5px 0px 5px
	}

	div.re-get-in-touch {
		padding-top: 50px;

		a {
			background-color: #3399CC; 
			color: white;
		}
	}
}

// vote
#vote {
	user-select: none;
	padding-top:50px;

	.fa-times {
		color: red !important;
	}

	.fa-square-o {
		color: white !important;
	}


	h4 {
		color: $theme-primary;
	}

	.re-width-inherit {
		width:inherit;
	}

	.vote-button {
		//cursor:pointer;
		text-decoration: none;

		&:hover {
			//opacity: 0.8;
		}
	}

	.vote-tag {
		color: $theme-primary;
	}
}

// copyright
#copyright {
	padding: 20px 0px 0px 0px;

	div.re-copyright-left {
		display: inline-block;
		float: left;
		font-size: 12px
	}

	div.re-copyright-right {
		display: inline-block;
		float: right;
		font-size: 12px
	}

	i, p {
		display: inline-block;
		font-size: 12px
	}

	p.re-author {
		color: $theme-primary;
	}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
