<aside>
	<div class="row">
	    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-2 text-center"></div>
	      	<a class="facebook-bar" href="https://www.facebook.com/em4education">
	        	<div class="bg-facebook col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 text-center" style="margin-top: -50px;position: inherit;padding-top: 20px;border-left: 1px solid gray;border-right: 1px solid gray;padding-bottom: 20px;border-bottom: 1px solid gray;">
	          	<img src="img/portfolio/facebook-transparent.png" class="img-responsive wow vote-button" alt="" style="width:300px; display:initial">
	      	</div>
	    </a>
	</div>
</aside>
