<section id="manifesto" style="margin-top: -50px">
    <div class="row">

        <!-- Side padding -->
        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-2 text-center"></div>

        <!-- Content -->
        <div class="bg-dark col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 text-center" style="margin-top: -50px;position: inherit;
    padding-top: 100px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <h2 class="section-heading">Manifesto</h2>
                    <hr class="primary">
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-pencil wow bounceIn text-primary"></i>
                        <h3>Exams and Coursework</h3>
                        <p>Fight against exams and coursework deadlines being on the same day.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-exclamation wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Extenuating Circumstances</h3>
                        <p>Provide students with a better overview of the extenuating circumstance process and guidelines.</p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Set Seminars</h3>
                        <p>No more set seminar timetables, you have the option to choose the seminar you want.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-microphone wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Lecture Recording</h3>
                        <p>Make it compulsory for lectures to record all of their lectures.</p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Gender Stereotypes</h3>
                        <p>Campaign against gender stereotypes within the University.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Timetables</h3>
                        <p>Ensure no more issues occur with the Publish timetabling software.</p>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-medkit wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>First Aid</h3>
                        <p>Provide first aid days across all colleges.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-smile-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Union Events</h3>
                        <p>No more lectures on Union events, such as Varsity.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Charity Funding</h3>
                        <p>Build relationships with charities to help students with funding their studies.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-envelope wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Changes and Absences</h3>
                        <p>Guarantee email notifications to alert students on timetable changes and lecturer absences.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Book Availability</h3>
                        <p>Provide more online textbook access, as well as discounted book.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-plug wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Charging Lockers</h3>
                        <p>Implement charging lockers to provide secure devices charging storage.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-coffee wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Drop in Sessions</h3>
                        <p>Fortnightly drop in sessions with both myself and your subject representatives.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Study Areas</h3>
                        <p>Improve and expand the library and study areas, especially on the Bay Campus.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-child wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Student Experience</h3>
                        <p>Focus on improving the student experience for those struggling with mental health.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side padding -->
        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-2 text-center"></div>
    </div>
</section>
<!--     <div class="container">
        <div class="row">
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-coffee wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-medkit wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-laptop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-microphone wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-plug wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>
