<section id="manifesto" style="margin-top: -50px;">
    <div class="row">
        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-2 text-center"></div>
        <div class="bg-dark col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 text-center" style="margin-top: -50px;position: inherit;
    padding-top: 100px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-bottom: 150px;
    border-bottom: 1px solid gray;">

            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Manifesto</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img src="img/portfolio/coming-soon.png" class="img-responsive wow" alt="" style="width:80%;max-width:700px; display:initial;    padding-top: 10px;">
                        <div class="col-lg-12 text-center" style="padding-top:30px">
                            <p>We're not allowed to publish our Manifesto until Monday the 13th March! Come back here then!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-2 text-center"></div>
    </div>
</section>
