<section id="manifesto" style="margin-top: -50px">
    <div class="row">

        <!-- Side padding -->
        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-2 text-center"></div>

        <!-- Content -->
        <div class="bg-dark col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 text-center" style="margin-top: -50px;position: inherit;
    padding-top: 100px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <h2 class="section-heading">Manifesto</h2>
                    <hr class="primary">
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-pencil wow bounceIn text-primary"></i>
                        <h3>Exams and Coursework</h3>
                        <p>Ymgyrchu yn erbyn dyddiadau cau arholiadau a gwaith cwrs ar yr un diwrnod neu'r diwrnod ar ôl i'w gilydd.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-exclamation wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Extenuating Circumstances</h3>
                        <p>Provide students with a better overview of the extenuating circumstance process and guidelines.</p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Set Seminars</h3>
                        <p>Cael gwared ag amserlenni seminarau wedi'u gosod, yn anelu at fylchau byrrach rhwng seminarau a darlithoedd gyda mwy yn cael eu cynnal ar yr un diwrnod.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-microphone wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Lecture Recording</h3>
                        <p>Caniatáu recordio darlithoedd, er mwyn cydymdeimlo ag absenoldeb anosgoadwy neu dros resymau pwysig.</p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Gender Stereotypes</h3>
                        <p>Ymgyrchu dros stereoteipiau ar sail rhyw o fewn cyrsiau er mwyn annog i fyfyrwyr fynd ati i wneud y peth y maen nhw eisiau.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Timetables</h3>
                        <p>Sicrhau na fydd mwy o broblemau gyda meddalwedd amserlennu Publish.</p>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-medkit wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>First Aid</h3>
                        <p>Darparu diwrnodau cymorth cyntaf ar draws y colegau i gyd.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-smile-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Union Events</h3>
                        <p>Gohirio unrhyw ddiwrnod llawn ddarlithoedd ar gyfer digwyddiadau fel Varsity a Dawns yr Haf, neu gael y diwrnod ar ôl yn rhydd, fel y gallwch chi fwynhau digwyddiadau'r Undeb yn gydradd.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Charity Funding</h3>
                        <p>Creu cysylltiadau agosach gydag elusennau perthnasol sy'n rhoi cyllid i fyfyrwyr ôl-raddedig i roi mwy o ddewis i fyfyrwyr sydd eisiau mynd yn bellach gyda'u haddysg.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-envelope wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Changes and Absences</h3>
                        <p>Cyflwyno hysbysiadau trwy e-bost am newidiadau mewn amserlenni.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Book Availability</h3>
                        <p>Sicrhau bod mwy o werslyfrau ar gael ar y we, yn ogystal â chynnig gostyngiad ar lyfrau.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-plug wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Charging Lockers</h3>
                        <p>Rhoi loceri sy'n trydanu dyfeisiau ar waith, er mwyn darparu storfa lle gallwch chi drydanu dyfeisiau'n ddiogel.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-coffee wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Drop in Sessions</h3>
                        <p>Cynnig sesiynau galw heibio gyda fi ar y ddau gampws, a sesiynau galw heibio pob pythefnos gyda chynrychiolwyr pwnc/coleg mewn lleoliadau penodol er mwyn i fyfyrwyr allu mynegi pryderon.</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Study Areas</h3>
                        <p>Improve and expand the library and study areas, especially on the Bay Campus.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="height:0px"></div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" style="padding-top:50px">
                    <div class="manifesto-box">
                        <i class="fa fa-4x fa-child wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Student Experience</h3>
                        <p>Focus on improving the student experience for those struggling with mental health.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side padding -->
        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1 col-xl-2 text-center"></div>
    </div>
</section>
<!--     <div class="container">
        <div class="row">
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-coffee wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-medkit wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-laptop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-microphone wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 text-center">
                    <div class="manifesto-box">
                        <i class="fa fa-3x fa-plug wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>
